body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 2;
  }

h1 {
    font-size: 30px;
    font-weight: bolder;
    color: black;
  }
  
h3 {
    font-size: 24px;
    font-weight: bold;
    color: #90a6e2;
  }


.button-class {
    background-color:rgb(224, 226, 226);
    border: none;
    color: white;
    margin: 10px;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid rgb(224, 226, 226);
  }

