body {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    line-height: 2;
  }

#header {
    margin: 0 auto;
    padding: 30px;
  }


.nav-item {
    margin-left: 50px;
  }

h1,
h2 {
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
  }

h1 {
    font-size: 25px;
    color: black;
  }

h2 {
    font-size: 30px;
    color: rgb(71, 71, 71);
    padding: 50px;
  }

#search {
    height: 50px;
  }

#searchTerm {
    width: 200px;
    margin-left: 30px;
  }

.btn-clear {
    cursor: pointer;
    font-weight: bolder;
    color:#777;
    background: #ddd;
    border: 1px #ddd solid;
    width: 30px;
  }

.btn-clear:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
  }

#nav-search {
  cursor: auto;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color:#777;
  border: none;
  background: none;
  }

.nav-link:hover {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
  }

.pokemon-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }

.button-class:hover {
    background-color:rgb(196, 202, 255);
    color: #000;
    border: 2px solid rgb(181, 187, 238);
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
  }

.button-class {
    background-color: rgb(248, 248, 255);
    color: black;
    border: 2px solid rgb(208, 208, 211);
    margin: 10px;
    padding: 20px;
    width: 350px;
    height: 80px;
    box-sizing: border-box;
    display: inline-block;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
#modal-container {
    display: none;
  }
  
#modal-container.is-visible {
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;   /* to show it above other content */
    overflow: auto;   /* to allow scrolling if the screen is not high enough*/
    display: grid;
    text-align: center;
  }
  
.modal {
    margin: auto 600px;
    display: inline-block;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
    padding: 15px;
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
  }
  
.modal-close {
    border: 0;
    margin: 10px;
    background: none;
    color: #777;
    text-decoration: underline;
    cursor: pointer;
  }
  
.modal h1 {
    margin-top: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
.modal p {
    margin-bottom: 0;
  }

.pokemon-info {
    background: rgb(226, 226, 247);
    padding: 50px;
  }